@import "tailwindcss";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 90px;
}

body {
	margin: 0;
	font-family: "Lexend", "Segoe UI", sans-serif;
	background: #f4f3f0;
}
